// bower:scss
// endbower

body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0; 
    padding: 0;
}

.main-page {
    width: 100%; 
    height: 42.250em;
    top: 0;
    right: 0;
    background-color: #333333;

    img {
        width: 25%;
        position: absolute;
        top: 0; bottom:0; left: 0; right:0;
        margin: auto;
    }
}

.about-page {

    height: 35em; 

    h1 {
        font-family: "basic title font", sans-serif;
        font-size: 3em;
        margin: 3.5em 0 0 15%;
    }

    p {
        width: 37%;
        margin: 3em 0 0 15%;
        display: block;
        position: absolute;
        font-family: 'Josefin Slab', serif;
        font-size: 1.3em;
    }

    img {
        width: 22%;
        margin: 2em 15% 10em 0; 
        float: right;
    }
}

.front-end-page {
    width: 100%; 
    height: 35.250em;
    top: 0;
    right: 0;
    background-color: #d6d6d6;

    h1 {
        font-family: "basic title font", sans-serif;
        font-size: 3em; 
        float: right;
        margin: 3.5em 0 0 50%;
        position: absolute;
    }

    p {
        width: 37%;
        margin: 13em 0 0 50%;
        display: block;
        position: absolute;
        font-family: 'Josefin Slab', serif;
        font-size: 1.3em;   
    }
}

.projects-page {

    height: 40em; 

    h1 {
        font-family: "basic title font", sans-serif;
        font-size: 3em; 
        text-align: center;
        margin: 2.5em 0 0 0;
    }
}

.project-one {
    img {
        width: 22%;
        height: 17.625em;
        border-radius: 175px;
        margin: 4em 0 0 14%;
    }
}

.project-two {
    img {
        width: 22%;
        height: 17.625em;
        border-radius: 175px;
        margin: 4em 0 0 14%;
    }
}













